<?xml version="1.0"?>
<config>
    <modules>
        <Maruweb_Digitalcheck>
            <version>0.1.2</version>
        </Maruweb_Digitalcheck>
    </modules>
    <global>
        <models>
            <digitalcheck>
                <class>Maruweb_Digitalcheck_Model</class>
            </digitalcheck>

            <!--
            <digitalcheck_resource>
                <class>Maruweb_digitalcheck_Model_Resource</class>
                <entities>
                    <card>
                        <table>digitalcheck_card_info</table>
                    </card>
                </entities>
            </digitalcheck_resource>
            -->
        </models>
        <helpers>
            <digitalcheck>
                <class>Maruweb_Digitalcheck_Helper</class>
            </digitalcheck>
        </helpers>
        <blocks>
            <digitalcheck>
                <class>Maruweb_Digitalcheck_Block</class>
            </digitalcheck>
        </blocks>
        <resources>
            <digitalcheck_setup>
                <setup>
                    <module>Maruweb_Digitalcheck</module>
                    <class>Maruweb_Digitalcheck_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </digitalcheck_setup>
            <digitalcheck_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </digitalcheck_read>
            <digitalcheck_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </digitalcheck_write>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <digitalcheck_cc_division_times>
                    <to_order_payment>*</to_order_payment>
                </digitalcheck_cc_division_times>
                <pay_limit_date>
                    <to_order_payment>*</to_order_payment>
                </pay_limit_date>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <pay_limit_date>
                    <to_quote_payment>*</to_quote_payment>
                    <to_order>*</to_order>
                </pay_limit_date>
            </sales_convert_order_payment>
            <sales_convert_order_address>
                <lastnamekana>
                    <to_quote_address>*</to_quote_address>
                </lastnamekana>
                <firstnamekana>
                    <to_quote_address>*</to_quote_address>
                </firstnamekana>
            </sales_convert_order_address>
            <customer_address>
                <lastnamekana>
                    <to_quote_address>*</to_quote_address>
                </lastnamekana>
                <firstnamekana>
                    <to_quote_address>*</to_quote_address>
                </firstnamekana>
            </customer_address>
        </fieldsets>
        <sales>
            <order>
                <statuses>
                    <pending_dccc translate="label">
                        <label>Pending Credit</label>
                    </pending_dccc>
                </statuses>
                <states>
                    <new translate="label">
                        <label>New</label>
                        <statuses>
                            <pending/>
                        </statuses>
                        <visible_on_front/>
                    </new>
                    <canceled translate="label">
                        <label>Canceled</label>
                        <statuses>
                            <canceled/>
                        </statuses>
                        <visible_on_front/>
                    </canceled>
                </states>
            </order>
        </sales>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Maruweb_Digitalcheck>
                    <files>
                        <default>Maruweb_Digitalcheck.csv</default>
                    </files>
                </Maruweb_Digitalcheck>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <digitalcheck translate="title" module="digitalcheck">
                                            <title>Digitalcheck Section</title>
                                        </digitalcheck>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Maruweb_Digitalcheck>
                    <files>
                        <default>Maruweb_Digitalcheck.csv</default>
                    </files>
                </Maruweb_Digitalcheck>
            </modules>
        </translate>
        <routers>
            <digitalcheck>
                <use>standard</use>
                <args>
                    <module>Maruweb_Digitalcheck</module>
                    <frontName>digitalcheck</frontName>
                </args>
            </digitalcheck>
        </routers>
        <layout>
            <updates>
                <digitalcheck>
                    <file>digitalcheck.xml</file>
                </digitalcheck>
            </updates>
        </layout>
        <secure_url>
          <digitalcheck>/digitalcheck/</digitalcheck>
      </secure_url>
    </frontend>
    <default>
        <payment>
            <digitalcheck_cc>
                <model>digitalcheck/method_cc</model>
                <active>0</active>
                <title>Credit Card (paydesign)</title>
                <payment_action>authorize</payment_action>
                <debug>0</debug>
                <paymode>0</paymode>
                <min_order_total>0</min_order_total>
                <max_order_total>1000000</max_order_total>
                <order_status>pending_payment</order_status>
                <sort_order>17</sort_order>
                <settle_cr_cpt25_url>https://www.paydesign.jp/settle/settle3/credit/settle_cr_cpt25.do</settle_cr_cpt25_url>
            </digitalcheck_cc>
            <digitalcheck_cvs>
                <model>digitalcheck/method_cvs</model>
                <active>0</active>
                <title>Cvs (paydesign)</title>
                <payment_action>authorize</payment_action>
                <debug>0</debug>
                <min_order_total>0</min_order_total>
                <max_order_total>1000000</max_order_total>
                <order_status>pending_payment</order_status>
                <sort_order>17</sort_order>
            </digitalcheck_cvs>
            <digitalcheck_pe>
                <model>digitalcheck/method_pe</model>
                <active>0</active>
                <title>Pay-easy (paydesign)</title>
                <payment_action>authorize</payment_action>
                <debug>0</debug>
                <min_order_total>0</min_order_total>
                <max_order_total>1000000</max_order_total>
                <order_status>pending_payment</order_status>
                <sort_order>17</sort_order>
            </digitalcheck_pe>
        </payment>
    </default>
    <crontab>
        <jobs>
            <digitalcheck_delete_order>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>digitalcheck/cron::removeOutofdateorder</model>
                </run>
            </digitalcheck_delete_order>
        </jobs>
    </crontab>
</config>
