<?xml version="1.0"?>
<!--
/*
 * Irvine Systems Shipping Japan Jp
 *
 * NOTICE OF LICENSE
 * This source file is subject to the Revised BSD License which is bundled with
 * this package in the files LICENSE.txt and LICENSE.html.
 *
 * @category	Magento Shipping Extension
 * @package		IrvineSystems_JapanPost
 * @author Irvine Systems, Inc.
 * @copyright Copyright (c) 2015, Irvine Systems, Inc. (http://irvinesystems.co.jp/)
 * @license     Revised BSD License
 */
-->
<config>
  
  <!-- ************************* MODULE CONFIGURATION ************************** -->
  <modules>
    <IrvineSystems_JapanPost>
      <version>2.0.1.1</version>
    </IrvineSystems_JapanPost>
  </modules>
  
  <!-- ********************** GLOBAL PARAMETERS ********************* -->
  <global>
    <!-- MODULE MODELS -->
    <models>
      <japanpost>
        <class>IrvineSystems_JapanPost_Model</class>
        <resourceModel>japanpost_resource</resourceModel>
      </japanpost>
      <japanpost_resource>
        <class>IrvineSystems_JapanPost_Resource</class>
        <deprecatedNode>IrvineSystems_JapanPost_Mysql4</deprecatedNode>
        <entities>
          <slips>
            <table>japanpost_slips</table>
          </slips>
        </entities>
      </japanpost_resource>
    </models>
    <!-- MODULE RESOURCES -->
    <resources>
      <japanpost_setup>
        <setup>
          <module>IrvineSystems_JapanPost</module>
          <class>Mage_Eav_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </japanpost_setup>
      <japanpost_write>
        <connection>
          <use>core_write</use>
        </connection>
      </japanpost_write>
      <japanpost_read>
        <connection>
          <use>core_read</use>
        </connection>
      </japanpost_read>
    </resources>
    <!-- MODULE HELPERS -->
    <helpers>
      <japanpost>
        <class>IrvineSystems_JapanPost_Helper</class>
      </japanpost>
    </helpers>
    <!-- MODULE BLOCKS -->
    <blocks>
      <japanpost>
        <class>IrvineSystems_JapanPost_Block</class>
      </japanpost>
    </blocks>
    <!-- MODULE GLOBAL OBSERVERS -->
    <events>
      <!-- Order Save Observer for Shipping Slips Option Management and Invoice Creation -->
      <sales_order_place_after>
        <observers>
          <japanpost>
            <type>singleton</type>
            <class>japanpost/observer</class>
            <method>processOrderAfterSave</method>
          </japanpost>
        </observers>
      </sales_order_place_after>
      <!-- Quote Update Observer for Cash on Delivery Payments Option -->
      <sales_quote_collect_totals_after>
        <observers>
          <japanpost>
            <type>singleton</type>
            <class>japanpost/observer</class>
            <method>updateCheckoutQuote</method>
          </japanpost>
        </observers>
      </sales_quote_collect_totals_after>
    </events>
  </global>
  
  <!-- ************************ FRONTEND CONFIGURATION ************************* -->
  <frontend>
    <!-- TRANSLATION CSV -->
    <translate>
      <modules>
        <IrvineSystems_JapanPost>
          <files>
            <default>IrvineSystems_JapanPost.csv</default>
          </files>
        </IrvineSystems_JapanPost>
      </modules>
    </translate>
    <!-- LAYOUT UPDATES -->
    <layout>
      <updates>
        <japanpost>
          <file>japanpost.xml</file>
        </japanpost>
      </updates>
    </layout>
  </frontend>
  
  <!-- ************************* BACKEND CONFIGURATION ************************* -->
  <adminhtml>
    <!-- TRANSLATION CSV -->
    <translate>
      <modules>
        <IrvineSystems_JapanPost>
          <files>
            <default>IrvineSystems_JapanPost.csv</default>
          </files>
        </IrvineSystems_JapanPost>
      </modules>
    </translate>
    <!-- ROUTERS UPDATES -->
    <routers>
      <adminhtml>
        <args>
          <modules>
            <IrvineSystems_JapanPost after="Mage_Adminhtml">IrvineSystems_JapanPost</IrvineSystems_JapanPost>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </adminhtml>
  
  <!-- ************************** ADMIN CONFIGURATION ************************** -->
  <admin>
    <!-- ADMIN ROUTERS -->
    <routers>
      <japanpost>
        <use>admin</use>
        <args>
          <module>IrvineSystems_JapanPost</module>
          <frontName>japanpost</frontName>
        </args>
      </japanpost>
    </routers>
  </admin>
  
  <!-- ********************** DEFAULT PARAMETERS ******************** -->
  <default>
    <!-- Main Carriers Group -->
    <carriers>
      <japanpost>
        <active>1</active>
        <title>Japan Post</title>
        <unit_of_measure>KG</unit_of_measure>
        <sallowspecific>0</sallowspecific>
        <model>japanpost/carrier_japanpost</model>
        <showmethod>1</showmethod>
        <handling_type>F</handling_type>
        <handling_action>O</handling_action>
      </japanpost>
    </carriers>
    <!-- Module Section and Groups -->
    <japanpost>
      <about>
        <version>2.0.1.1</version>
      </about>
      <general>
        <profit_type>P</profit_type>
        <profit_fee>15</profit_fee>
        <max_package_weight>30000</max_package_weight>
        <intmaxlength>1600</intmaxlength>
        <intmaxvolume>3200</intmaxvolume>
      </general>
      <teikei>
        <title>Teikei - Standard Size Mail</title>
        <showmethod>1</showmethod>
        <minlenght>140</minlenght>
        <minwidth>90</minwidth>
        <maxweight>50</maxweight>
        <maxlenght>235</maxlenght>
        <maxwidth>120</maxwidth>
        <maxdepth>10</maxdepth>
        <finaladd>0</finaladd>
      </teikei>
      <teikeigai>
        <title>Teikeigai - Non-Standard Size Mail</title>
        <showmethod>1</showmethod>
        <minlenght>140</minlenght>
        <minwidth>90</minwidth>
        <maxweight>4000</maxweight>
        <maxlenght>600</maxlenght>
        <maxsize>900</maxsize>
        <finaladd>0</finaladd>
      </teikeigai>
      <yuupack>
        <title>Yu-Pack</title>
        <showmethod>1</showmethod>
        <showcool>1</showcool>
		<showcod>1</showcod>
		<internalcod>1</internalcod>
        <codfee>250</codfee>
        <maxsize>1700</maxsize>
        <finaladd>0</finaladd>
      </yuupack>
	  <ems>
        <title>EMS Express Mail (3~5 days)</title>
        <showmethod>1</showmethod>
        <baseadd>0</baseadd>
        <basevalue>20000</basevalue>
        <tieradd>50</tieradd>
        <tiervalue>20000</tiervalue>
        <finaladd>0</finaladd>
      </ems>
      <sal>
        <title>SAL Express Air (1~2 weeks)</title>
        <showmethod>1</showmethod>
        <baseadd>400</baseadd>
        <basevalue>20000</basevalue>
        <tieradd>50</tieradd>
        <tiervalue>20000</tiervalue>
        <finaladd>0</finaladd>
      </sal>
      <airmail>
        <title>Airmail (4~6 days)</title>
        <showmethod>1</showmethod>
        <baseadd>400</baseadd>
        <basevalue>20000</basevalue>
        <tieradd>50</tieradd>
        <tiervalue>20000</tiervalue>
        <finaladd>0</finaladd>
      </airmail>
      <surface>
        <title>Surface Mail (1~3 months)</title>
        <showmethod>1</showmethod>
        <baseadd>400</baseadd>
        <basevalue>20000</basevalue>
        <tieradd>50</tieradd>
        <tiervalue>20000</tiervalue>
        <finaladd>0</finaladd>
      </surface>
      <special>
        <showspecial>1</showspecial>
        <weight_limit>2000</weight_limit>
        <size_limit>900</size_limit>
        <length_limit>600</length_limit>
      </special>
      <slips>
        <ajaxenable>1</ajaxenable>
      </slips>
    </japanpost>
  </default>
</config>