<?xml version="1.0"?>
<config>
  <modules>
    <Rack_EventCalendar>
      <version>0.1.6</version>
    </Rack_EventCalendar>
  </modules>
  <global>
    <models>
      <calendar>
        <class>Rack_EventCalendar_Model</class>
        <resourceModel>calendar_mysql4</resourceModel>
      </calendar>
      <calendar_mysql4>
        <class>Rack_EventCalendar_Model_Mysql4</class>
        <entities>
          <calendar>
            <table>calendar_calendar</table>
          </calendar>
          <calendar_store>
            <table>calendar_store</table>
          </calendar_store>
        </entities>
      </calendar_mysql4>
    </models>
    <resources>
      <calendar_setup>
        <setup>
          <module>Rack_EventCalendar</module>
          <class>Mage_Eav_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </calendar_setup>
      <calendar_write>
        <connection>
          <use>core_write</use>
        </connection>
      </calendar_write>
      <calendar_read>
        <connection>
          <use>core_read</use>
        </connection>
      </calendar_read>
    </resources>
    <helpers>
      <calendar>
        <class>Rack_EventCalendar_Helper</class>
      </calendar>
    </helpers>
    <blocks>
      <calendar>
        <class>Rack_EventCalendar_Block</class>
      </calendar>
    </blocks>
  </global>
  <frontend>
    <translate>
      <modules>
      <Rack_EventCalendar>
        <files>
          <default>Rack_EventCalendar.csv</default>
        </files>
      </Rack_EventCalendar>
      </modules>
    </translate>
    <layout>
      <updates>
        <calendar module="calendar">
          <file>calendar.xml</file>
        </calendar>
      </updates>
    </layout>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <Rack_EventCalendar>
          <files>
            <default>Rack_EventCalendar.csv</default>
          </files>
        </Rack_EventCalendar>
      </modules>
    </translate>
    <layout>
      <updates>
        <calendar module="calendar">
          <file>calendar.xml</file>
        </calendar>
      </updates>
    </layout>
    <menu>
      <calendar module="calendar">
        <title>EventCalendar</title>
        <sort_order>81</sort_order>
        <children>
          <calendar module="calendar">
            <title>EventCalendar</title>
            <sort_order>0</sort_order>
            <action>calendar_admin/adminhtml_event/index</action>
          </calendar>
        </children>
      </calendar>
    </menu>
    <acl>
      <resources>
        <admin>
          <children>
            <calendar translate="title">
              <title>EventCalendar</title>
              <children>
                <calendar translate="title">
                  <title>EventCalendar</title>
                </calendar>
              </children>
            </calendar>
            <system>
              <children>
                <config>
                  <children>
                    <calendar>
                      <title>Event Calender</title>
                    </calendar>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <admin>
    <routers>
      <calendar>
        <use>admin</use>
        <args>
          <module>Rack_EventCalendar</module>
          <frontName>calendar_admin</frontName>
        </args>
      </calendar>
    </routers>
  </admin>
  <default>
      <calendar>
          <calendar>
              <holiday>0,6</holiday>
              <as_holiday>1</as_holiday>
          </calendar>
      </calendar>
  </default>
    <crontab>
            <jobs>
                <holiday_generate>
                    <schedule>
                        <cron_expr>0 0 1 1 *</cron_expr>
                    </schedule>
                    <run><model>calendar/observer::process</model></run>
                </holiday_generate>
            </jobs>
        </crontab>
</config>
