<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <FLATz_Deliverydate>
            <version>0.1.1</version>
        </FLATz_Deliverydate>
    </modules>
    <global>
        <helpers>
            <deliverydate>
                <class>FLATz_Deliverydate_Helper</class>
            </deliverydate>
        </helpers>
        <models>
            <deliverydate>
                <class>FLATz_Deliverydate_Model</class>
            </deliverydate>
            <sales>
                <rewrite>
                    <order>FLATz_Deliverydate_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <resources>
            <deliverydate_setup>
                <setup>
                    <module>FLATz_Deliverydate</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection><use>core_setup</use></connection>
            </deliverydate_setup>
            <deliverydate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deliverydate_write>
            <deliverydate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deliverydate_read>
        </resources>
        <blocks>
            <deliverydate>
                <class>FLATz_Deliverydate_Block</class>
            </deliverydate>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>FLATz_Deliverydate_Block_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <frontend>
        <routers>
            <deliverydate>
                <use>standard</use>
                <args>
                    <module>FLATz_Deliverydate</module>
                    <frontName>deliverydate</frontName>
                </args>
            </deliverydate>
        </routers>
        <layout>
            <updates>
                <deliverydate>
                    <file>flatz_deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
        <translate>
            <modules>
                <FLATz_Deliverydate>
                    <files>
                        <default>FLATz_Deliverydate.csv</default>
                    </files>
                </FLATz_Deliverydate>
            </modules>
        </translate>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <deliverydate>
                        <class>deliverydate/observer</class>
                        <method>setDeliverydateToQuote</method>
                    </deliverydate>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_convert_quote_to_order>
                <observers>
                    <deliverydate>
                        <class>deliverydate/observer</class>
                        <method>convertQuoteToOrder</method>
                    </deliverydate>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <FLATz_Deliverydate>
                    <files>
                        <default>FLATz_Deliverydate.csv</default>
                    </files>
                </FLATz_Deliverydate>
            </modules>
        </translate>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <deliverydate>
                        <type>model</type>
                        <class>deliverydate/observer</class>
                        <method>setDeliverydateForOrderCreate</method>
                    </deliverydate>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <sales_convert_quote_to_order>
                <observers>
                    <deliverydate>
                        <class>deliverydate/observer</class>
                        <method>convertQuoteToOrder</method>
                    </deliverydate>
                </observers>
            </sales_convert_quote_to_order>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <deliverydate translate="title" module="deliverydate">
                                            <title>Delivery Date</title>
                                            <sort_order>100</sort_order>
                                        </deliverydate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <deliverydate>
                    <file>flatz_deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
    </adminhtml>
</config>
