<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Rack_Point>
            <version>0.7.4</version>
        </Rack_Point>
    </modules>
    <frontend>
        <layout>
            <updates>
                <rackpoint>
                    <file>rack_point.xml</file>
                </rackpoint>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rack_Point>
                    <files>
                        <default>Rack_Point.csv</default>
                    </files>
                </Rack_Point>
            </modules>
        </translate>
        <secure_url>
            <rackpoint>/rackpoint/</rackpoint>
        </secure_url>
        <routers>
            <rackpoint>
                <use>standard</use>
                <args>
                    <module>Rack_Point</module>
                    <frontName>rackpoint</frontName>
                </args>
            </rackpoint>
        </routers>
        <events>
            <load_customer_quote_before>
                <observers>
                    <rackpoint>
                        <method>loadCustomerQuoteBefore</method>
                        <class>rackpoint/observer</class>
                    </rackpoint>
                </observers>
            </load_customer_quote_before>
            <sales_quote_load_after>
                <observers>
                    <rackpoint>
                        <method>salesQuoteLoadAfter</method>
                        <class>rackpoint/observer</class>
                    </rackpoint>
                </observers>
            </sales_quote_load_after>
            <controller_action_postdispatch_customer_account_createpost>
                <observers>
                    <rackpoint>
                        <method>customerCreatePost</method>
                        <class>rackpoint/observer</class>
                    </rackpoint>
                </observers>
            </controller_action_postdispatch_customer_account_createpost>
            <!--<controller_action_predispatch_paypal_express_review>-->
                <!--<observers>-->
                    <!--<rackpoint>-->
                        <!--<class>rackpoint/observer</class>-->
                        <!--<method>preparePoint</method>-->
                    <!--</rackpoint>-->
                <!--</observers>-->
            <!--</controller_action_predispatch_paypal_express_review>-->
            <customer_register_success>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>customerRegister</method>
                    </rackpoint>
                </observers>
            </customer_register_success>
            <payment_method_is_active>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>preparePaymentMethod</method>
                    </rackpoint>
                </observers>
            </payment_method_is_active>
            <sales_quote_payment_import_data_before>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>paymentDataImport</method>
                    </rackpoint>
                </observers>
            </sales_quote_payment_import_data_before>
            <sales_quote_collect_totals_before>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>quoteCollectTotalsBefore</method>
                    </rackpoint>
                </observers>
            </sales_quote_collect_totals_before>
            <paypal_prepare_line_items>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>addPointLineIntoPaypal</method>
                    </rackpoint>
                </observers>
            </paypal_prepare_line_items>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rackpoint before="Mage_Adminhtml">Rack_Point_Adminhtml</rackpoint>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <rackpoint>
                    <file>rack_point.xml</file>
                </rackpoint>
            </updates>
        </layout>
        <translate>
            <modules>
                <Rack_Point>
                    <files>
                        <default>Rack_Point.csv</default>
                    </files>
                </Rack_Point>
            </modules>
        </translate>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>saveCustomerWhileCreateOrder</method>
                    </rackpoint>
                </observers>
            </checkout_submit_all_after>
            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>setPointToRefund</method>
                    </rackpoint>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>
           
            <adminhtml_customer_save_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>saveCustomerPoints</method>
                    </rackpoint>
                </observers>
            </adminhtml_customer_save_after>
            
            <review_save_commit_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>reviewSubmit</method>
                    </rackpoint>
                </observers>
            </review_save_commit_after>
            
            <catalog_entity_attribute_delete_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>catalogAttributeDeleteAfter</method>
                    </rackpoint>
                </observers>
            </catalog_entity_attribute_delete_after>
            <catalog_entity_attribute_save_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>catalogAttributeSaveAfter</method>
                    </rackpoint>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_product_save_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>applyAllRulesOnProduct</method>
                    </rackpoint>
                </observers>
            </catalog_product_save_after>

            <controller_action_predispatch_adminhtml_catalog_product_save>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>disableApplyRuleOnProductSave</method>
                    </rackpoint>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_save>

            <controller_action_postdispatch_adminhtml_catalog_product_save>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>applyAllRulesOnProductForSave</method>
                    </rackpoint>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_save>

            <catalog_product_import_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>applyAllRules</method>
                    </rackpoint>
                </observers>
            </catalog_product_import_after>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <rack_point>
                        <class>rackpoint/observer</class>
                        <method>salesOrderCreateProcessData</method>
                    </rack_point>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
    </adminhtml>
    <global>
        <models>
            <rackpoint>
                <class>Rack_Point_Model</class>
                <resourceModel>mysql4_rackpoint</resourceModel>
            </rackpoint>
            <mysql4_rackpoint>
                <class>Rack_Point_Model_Mysql4</class>
                <entities>
                    <point_balance>
                        <table>rackpoint_point_balance</table>
                    </point_balance>
                    <point_history>
                        <table>rackpoint_point_history</table>
                    </point_history>
                    <catalog_rule>
                        <table>rackpoint_point_rule</table>
                    </catalog_rule>
                    <rule_product>
                        <table>rackpoint_rule_product</table>
                    </rule_product>
                </entities>
            </mysql4_rackpoint>
        </models>
        <blocks>
            <rackpoint>
                <class>Rack_Point_Block</class>
            </rackpoint>
        </blocks>
        <helpers>
            <rackpoint>
                <class>Rack_Point_Helper</class>
            </rackpoint>
        </helpers>
        <resources>
            <rackpoint_setup>
                <setup>
                    <module>Rack_Point</module>
                    <class>Rack_Point_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rackpoint_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <point_received>
                        <class>rackpoint/sales_quote_total</class>
                        <renderer>rackpoint/checkout_cart</renderer>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                        <admin_renderer>rackpoint/checkout_cart</admin_renderer>
                    </point_received>              
                    <point_used>
                        <class>rackpoint/sales_quote_total</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                        <renderer>rackpoint/checkout_quote_total</renderer>
                        <admin_renderer>rackpoint/adminhtml_order_create_total</admin_renderer>
                    </point_used>
                </totals>
            </quote>         
            <order_invoice>
                <totals>
                    <rackpoint>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                        <class>rackpoint/sales_invoice_total</class>
                    </rackpoint>
                </totals>
            </order_invoice> 
            <order_creditmemo>
                <totals>
                    <rackpoint>
                        <class>rackpoint/sales_creditmemo_total</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </rackpoint>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <rackpoint translate="title">
                    <title>Point Used</title>
                    <model>rackpoint/sales_pdf_total</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>660</sort_order>
                    <amount_prefix>-</amount_prefix>
                </rackpoint>
            </totals>
        </pdf>
        <events>
            <controller_action_predispatch_adminhtml_sales_order_create_index>
                <observers>
                    <rack_point>
                        <class>rackpoint/observer</class>
                        <method>adminSalesOrderCreateIndex</method>
                    </rack_point>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_index>
            <sales_order_invoice_register>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>invoiceRegisterHandler</method>
                    </rackpoint>
                </observers>
            </sales_order_invoice_register>
            <sales_order_creditmemo_refund>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>creditMemoRefundHandler</method>
                    </rackpoint>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_invoice_save_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>invoiceSaveAfter</method>
                    </rackpoint>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_load_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>orderLoadAfter</method>
                    </rackpoint>
                </observers>
            </sales_order_load_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>creditMemoSaveAfter</method>
                    </rackpoint>
                </observers>
            </sales_order_creditmemo_save_after>
            <catalog_product_load_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>addPointData</method>
                    </rackpoint>
                </observers>
            </catalog_product_load_after>
            <catalog_product_collection_load_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>addPointDataToCollection</method>
                    </rackpoint>
                </observers>
            </catalog_product_collection_load_after>
            <sales_quote_item_collection_products_after_load>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>addPointDataToCollectionOfQuote</method>
                    </rackpoint>
                </observers>
            </sales_quote_item_collection_products_after_load>
            
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <rackpoint>
                        <type>model</type>
                        <class>rackpoint/observer</class>
                        <method>salesEventConvertQuoteItemToOrderItem</method>
                    </rackpoint>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_quote_address_to_order>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>salesEventConvertQuoteAddressToOrder</method>
                    </rackpoint>
                </observers>
            </sales_convert_quote_address_to_order>
            <sales_convert_quote_to_order>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>salesEventConvertQuoteToOrder</method>
                    </rackpoint>
                </observers>
            </sales_convert_quote_to_order>
            <sales_order_place_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>orderPlaceAfter</method>
                    </rackpoint>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_cancel>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>orderPaymentCancel</method>
                    </rackpoint>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_save_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>orderSaveAfter</method>
                    </rackpoint>
                </observers>
            </sales_order_save_after>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <rackpoint>
                        <class>rackpoint/observer</class>
                        <method>customerSubscribed</method>
                    </rackpoint>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
        <template>
            <email>
               <rackpoint_order_place_template translate="label" module="rackpoint">
                   <label>Place New Order</label>
                   <file>rackpoint/order_place.html</file>
                   <type>html</type>
               </rackpoint_order_place_template>
               <rackpoint_order_cancel_template translate="label" module="rackpoint">
                   <label>Cancel Order</label>
                   <file>rackpoint/order_cancel.html</file>
                   <type>html</type>
               </rackpoint_order_cancel_template>
               <rackpoint_invoice_created_template translate="label" module="rackpoint">
                   <label>New Invoice</label>
                   <file>rackpoint/invoice_create.html</file>
                   <type>html</type>
               </rackpoint_invoice_created_template>
               <rackpoint_creditmemo_created_template translate="label" module="rackpoint">
                   <label>Refund</label>
                   <file>rackpoint/creditmemo_create.html</file>
                   <type>html</type>
               </rackpoint_creditmemo_created_template>
               <rackpoint_moderator_update_template translate="label" module="rackpoint">
                   <label>Update By Moderator</label>
                   <file>rackpoint/moderator_update.html</file>
                   <type>html</type>
               </rackpoint_moderator_update_template>
               <rackpoint_expire_notify_template translate="label" module="rackpoint">
                   <label>Expire Notify</label>
                   <file>rackpoint/expire_notify.html</file>
                   <type>html</type>
               </rackpoint_expire_notify_template>
            </email>
        </template>
    </global>
    
    <default>
        <rackpoint>
            <config>
                <rate>1</rate>
                <expired>12</expired>
            </config>
            <calculate>
                <round_mode>1</round_mode>
                <exclude_fees><![CDATA[base_giftwrapping_fee
base_shipping_amount
cod_fee]]></exclude_fees>
                <usedpoint_mode>2</usedpoint_mode>
                <receive_active_mode>2</receive_active_mode>
            </calculate>
            <message>
                <order_placed>ご注文 #%s でのポイントご利用のお知らせ</order_placed>
                <order_cancel_received>ご注文 #%s での加算予定ポイント取り消しのお知らせ</order_cancel_received>
                <order_cancel_used>ご注文 #%s でのご利用ポイント払い戻しのお知らせ</order_cancel_used>
                <invoiced>ご注文 #%s での獲得ポイント加算のお知らせ</invoiced>
                <creditmemo_received>ご注文 #%s の払い戻しに伴う加算予定ポイント取り消しのお知らせ</creditmemo_received>
                <creditmemo_used>ご注文 #%s の払い戻しに伴うご利用ポイント払い戻しのお知らせ</creditmemo_used>
                <moderation>管理者によるポイント更新のお知らせ</moderation>
                <customer_register>会員登録ポイント加算のお知らせ</customer_register>
                <newsletter_subscribed>ニュースレターご購読ポイント加算のお知らせ</newsletter_subscribed>
                <write_review>%s へのレビュー投稿でのポイント加算のお知らせ</write_review>
            </message>
            <order_place>
                <enable>1</enable>
                <template>rackpoint_order_place_template</template>
                <identity>sales</identity>
            </order_place>
            <order_cancel>
                <enable>1</enable>
                <template>rackpoint_order_cancel_template</template>
                <identity>sales</identity>
            </order_cancel>
            <invoice_created>
                <enable>1</enable>
                <template>rackpoint_invoice_created_template</template>
                <identity>sales</identity>
            </invoice_created>
            <creditmemo_created>
                <enable>1</enable>
                <template>rackpoint_creditmemo_created_template</template>
                <identity>sales</identity>
            </creditmemo_created>
            <moderator_update>
                <enable>1</enable>
                <template>rackpoint_moderator_update_template</template>
                <identity>sales</identity>
            </moderator_update>
            <expire_notify>
                <enable>1</enable>
                <template>rackpoint_expire_notify_template</template>
                <identity>sales</identity>
                <first_notify>7</first_notify>
                <second_notify>1</second_notify>
            </expire_notify>
            <import>
                <comment>Import</comment>
                <encoding>UTF-8</encoding>
            </import>
            <invitation>
                <enable>0</enable>
                <invitation_points>0</invitation_points>
                <invitation_limit>0</invitation_limit>
            </invitation>
        </rackpoint>
    </default>
    
    <crontab>
        <jobs>
            <rackpoint_expire_notify>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>rackpoint/cron::expireNotify</model></run>
            </rackpoint_expire_notify>
            <rackpoint_import_point>
                <schedule><cron_expr>30 * * * *</cron_expr></schedule>
                <run><model>rackpoint/cron::import</model></run>
            </rackpoint_import_point>
            <rackpoint_clean_expired_point>
                <!-- run for each hour -->
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run>
                    <model>rackpoint/cron::cleanExpiredPoint</model>
                </run>
            </rackpoint_clean_expired_point>
        </jobs>
    </crontab>
</config>
