<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <FLATz_Base>
            <version>0.2.3</version>
        </FLATz_Base>
    </modules>
    <global>
        <models>
            <admin>
                <rewrite>
                    <config>FLATz_Base_Model_Admin_Config</config>
                </rewrite>
            </admin>
            <bundle>
                <rewrite>
                    <source_option_type>FLATz_Base_Model_Bundle_Source_Option_Type</source_option_type>
                </rewrite>                    
            </bundle>
            <core>
                <rewrite>
                    <store>FLATz_Base_Model_Store</store>
                    <locale>FLATz_Base_Model_Locale</locale>
                    <email_template>FLATz_Base_Model_Email_Template</email_template>
                    <newsletter_template>FLATz_Base_Model_Newsletter_Template</newsletter_template>
                </rewrite>
            </core>
            <tax>
                <rewrite>
                    <calculation>FLATz_Base_Model_Tax_Calculation</calculation>
                </rewrite>
            </tax>
            <customer>
                <rewrite>
                    <customer>FLATz_Base_Model_Customer</customer>
                    <address>FLATz_Base_Model_Address</address>
                </rewrite>
            </customer>
            <customer_entity>
                <rewrite>
                    <customer_collection>FLATz_Base_Model_Entity_Customer_Collection</customer_collection>
                </rewrite>
            </customer_entity>
            <sales>
                <rewrite>
                    <quote_address>FLATz_Base_Model_Sales_Quote_Address</quote_address>
                    <order_address>FLATz_Base_Model_Sales_Order_Address</order_address>
                    <order>FLATz_Base_Model_Sales_Order</order>
                    <order_pdf_creditmemo>FLATz_Base_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    <order_pdf_invoice>FLATz_Base_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_shipment>FLATz_Base_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                </rewrite>
            </sales>
            <sales_mysql4>
                <rewrite>
                    <order>FLATz_Base_Model_Mysql4_Sales_Order</order>
                    <order_grid_collection>FLATz_Base_Model_Mysql4_Sales_Order_Grid_Collection</order_grid_collection>
                    <order_creditmemo>FLATz_Base_Model_Mysql4_Sales_Order_Creditmemo</order_creditmemo>
                    <order_shipment>FLATz_Base_Model_Mysql4_Sales_Order_Shipment</order_shipment>
                    <order_invoice>FLATz_Base_Model_Mysql4_Sales_Order_Invoice</order_invoice>
                </rewrite>
            </sales_mysql4>
            <customer_mysql4>
                <rewrite>
                    <customer_collection>FLATz_Base_Model_Mysql4_Customer_Collection</customer_collection>
                </rewrite>
            </customer_mysql4>
            <customer_resource>
                <rewrite>
                    <customer_collection>FLATz_Base_Model_Resource_Customer_Collection</customer_collection>
                </rewrite>
            </customer_resource>
            <reports_mysql4>
                <rewrite>
                    <customer_orders_collection>FLATz_Base_Model_Mysql4_Reports_Customer_Orders_Collection</customer_orders_collection>
                    <customer_totals_collection>FLATz_Base_Model_Mysql4_Reports_Customer_Totals_Collection</customer_totals_collection>
                    <review_customer_collection>FLATz_Base_Model_Mysql4_Reports_Review_Customer_Collection</review_customer_collection>
                    <customer_collection>FLATz_Base_Model_Mysql4_Reports_Customer_Collection</customer_collection>
                    <order_collection>FLATz_Base_Model_Mysql4_Reports_Order_Collection</order_collection>
                </rewrite>
            </reports_mysql4>
            <sales_resource>
                <rewrite>
                    <order>FLATz_Base_Model_Resource_Order</order>
                    <order_grid_collection>FLATz_Base_Model_Resource_Order_Grid_Collection</order_grid_collection>
                    <order_creditmemo>FLATz_Base_Model_Resource_Order_Creditmemo</order_creditmemo>
                    <order_shipment>FLATz_Base_Model_Resource_Order_Shipment</order_shipment>
                    <order_invoice>FLATz_Base_Model_Resource_Order_Invoice</order_invoice>
                </rewrite>
            </sales_resource>
            <reports_resource>
                <rewrite>
                    <customer_orders_collection>FLATz_Base_Model_Resource_Reports_Customer_Orders_Collection</customer_orders_collection>
                    <customer_totals_collection>FLATz_Base_Model_Resource_Reports_Customer_Totals_Collection</customer_totals_collection>
                    <review_customer_collection>FLATz_Base_Model_Resource_Reports_Review_Customer_Collection</review_customer_collection>
                    <customer_collection>FLATz_Base_Model_Resource_Reports_Customer_Collection</customer_collection>
                    <order_collection>FLATz_Base_Model_Resource_Reports_Order_Collection</order_collection>
                </rewrite>
            </reports_resource>
            <directory>
                <rewrite>
                    <currency>FLATz_Base_Model_Currency</currency>
                </rewrite>
            </directory>
            <directory_resource>
                <rewrite>
                    <region_collection>FLATz_Base_Model_Resource_Directory_Region_Collection</region_collection>
                </rewrite>
            </directory_resource>
            <flatz_base>
                <class>FLATz_Base_Model</class>
            </flatz_base>
        </models>
        <helpers>
            <flatz_base>
                <class>FLATz_Base_Helper</class>
            </flatz_base>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_online_grid>FLATz_Base_Block_Adminhtml_Customer_Online_Grid</customer_online_grid>
                    <permissions_user_grid>FLATz_Base_Block_Adminhtml_Permissions_User_Grid</permissions_user_grid>
                    <permissions_role_grid_user>FLATz_Base_Block_Adminhtml_Permissions_Role_Grid_User</permissions_role_grid_user>
                    <newsletter_subscriber_grid>FLATz_Base_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                    <report_tag_customer_grid>FLATz_Base_Block_Adminhtml_Report_Tag_Customer_Grid</report_tag_customer_grid>
                    <review_main>FLATz_Base_Block_Adminhtml_Review_Main</review_main>
                    <review_edit_form>FLATz_Base_Block_Adminhtml_Review_Edit_Form</review_edit_form>
                    <tag_customer_grid>FLATz_Base_Block_Adminhtml_Tag_Customer_Grid</tag_customer_grid>
                    <catalog_product_edit_tab_tag_customer>FLATz_Base_Block_Adminhtml_Catalog_Product_Edit_Tab_Tag_Customer</catalog_product_edit_tab_tag_customer>
                    <catalog_product_helper_form_price>FLATz_Base_Block_Adminhtml_Catalog_Product_Helper_Form_Price</catalog_product_helper_form_price>
                    <newsletter_queue_edit_form>FLATz_Base_Block_Adminhtml_Newsletter_Queue_Edit_Form</newsletter_queue_edit_form>
                    <sales_order_view_info>FLATz_Base_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <address_edit>FLATz_Base_Block_Customer_Address_Edit</address_edit>
                    <widget_name>FLATz_Base_Block_Customer_Widget_Name</widget_name>
                    <widget_dob>FLATz_Base_Block_Customer_Widget_Dob</widget_dob>
                    <widget_gender>FLATz_Base_Block_Customer_Widget_Gender</widget_gender>
                </rewrite>
            </customer>
            <flatz_base>
                <class>FLATz_Base_Block</class>
            </flatz_base>
        </blocks>
        <resources>
            <flatz_base_setup>
                <setup>
                    <module>FLATz_Base</module>
                    <class>FLATz_Base_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </flatz_base_setup>
        </resources>
        <fieldsets>
            <sales_copy_order>
                <customer_firstname>
                    <to_edit>*</to_edit>
                </customer_firstname>
                <customer_lastname>
                    <to_edit>*</to_edit>
                </customer_lastname>
                <remote_ip>
                    <to_edit>*</to_edit>
                </remote_ip>
                <customer_dob>
                    <to_edit>*</to_edit>
                </customer_dob>
                <customer_gender>
                    <to_edit>*</to_edit>
                </customer_gender>
            </sales_copy_order>
            <sales_copy_order_billing_address>
                <firstnamekana>
                    <to_order>*</to_order>
                </firstnamekana>
                <lastnamekana>
                    <to_order>*</to_order>
                </lastnamekana>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <firstnamekana>
                    <to_order>*</to_order>
                </firstnamekana>
                <lastnamekana>
                    <to_order>*</to_order>
                </lastnamekana>
            </sales_copy_order_shipping_address>
            <sales_convert_quote>
                <customer_firstnamekana>
                    <to_order>*</to_order>
                </customer_firstnamekana>
                <customer_lastnamekana>
                    <to_order>*</to_order>
                </customer_lastnamekana>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <firstnamekana>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </firstnamekana>
                <lastnamekana>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </lastnamekana>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <firstnamekana>
                    <to_quote_address>*</to_quote_address>
                </firstnamekana>
                <lastnamekana>
                    <to_quote_address>*</to_quote_address>
                </lastnamekana>
            </sales_convert_order_address>
            <customer_account>
                <firstnamekana>
                    <to_quote>customer_firstnamekana</to_quote>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </firstnamekana>
                <lastnamekana>
                    <to_quote>customer_lastnamekana</to_quote>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </lastnamekana>
            </customer_account>
            <customer_address>
                <firstnamekana>
                    <to_quote_address>*</to_quote_address>
                </firstnamekana>
                <lastnamekana>
                    <to_quote_address>*</to_quote_address>
                </lastnamekana>
            </customer_address>
            <checkout_onepage_billing>
                <firstnamekana>
                    <to_customer>*</to_customer>
                </firstnamekana>
                <lastnamekana>
                    <to_customer>*</to_customer>
                </lastnamekana>
            </checkout_onepage_billing>
            <checkout_onepage_quote>
                <customer_firstnamekana>
                    <to_customer>firstnamekana</to_customer>
                </customer_firstnamekana>
                <customer_lastnamekana>
                    <to_customer>lastnamekana</to_customer>
                </customer_lastnamekana>
            </checkout_onepage_quote>
        </fieldsets>
        <events>
            <controller_action_predispatch_customer_address_formPost>
                <observers>
                    <validator>
                        <class>FLATz_Base_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_customer_address_formPost>
            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <validator>
                        <class>FLATz_Base_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_customer_account_createpost>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <validator>
                        <class>FLATz_Base_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <validator>
                        <class>FLATz_Base_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>
            <controller_action_predispatch_paypal_express_updateOrder>
                <observers>
                    <validator>
                        <class>FLATz_Base_Model_Observer</class>
                        <method>modifyPostData</method>
                    </validator>
                </observers>
            </controller_action_predispatch_paypal_express_updateOrder>
            <!-- 管理画面メニューの ActiveMenuの設定 -->
            <controller_action_layout_render_before>
                <observers>
                    <flatz_base_observer>
                        <type>singleton</type>
                        <class>flatz_base/observer</class>
                        <method>setActiveMenu</method>
                    </flatz_base_observer>
                </observers>               
            </controller_action_layout_render_before> 
            <!-- 管理画面のダウンロードの翻訳もれ対応 -->
            <adminhtml_block_html_before>
                <observers>
                    <flatz_base_observer_set_template>
                        <type>singleton</type>
                        <class>flatz_base/observer</class>
                        <method>setTemplate</method>
                        <args>
                            <Mage_Adminhtml_Block_Catalog_Product_Attribute_Edit_Tab_Options>flatz_base/catalog/product/attribute/options.phtml</Mage_Adminhtml_Block_Catalog_Product_Attribute_Edit_Tab_Options>
                            <Mage_Adminhtml_Block_Media_Uploader>flatz_base/media/uploader.phtml</Mage_Adminhtml_Block_Media_Uploader>
                            <Mage_Downloadable_Block_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Links>flatz_base/downloadable/product/edit/downloadable/links.phtml</Mage_Downloadable_Block_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Links>
                            <Mage_Downloadable_Block_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Samples>flatz_base/downloadable/product/edit/downloadable/samples.phtml</Mage_Downloadable_Block_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Samples>
                        </args>
                    </flatz_base_observer_set_template>
                </observers>                              
            </adminhtml_block_html_before>
        </events>
        <pdf>
            <invoice>
                <default>flatz_base/sales_order_pdf_items_invoice_default</default>
            </invoice>
            <shipment>
                <default>flatz_base/sales_order_pdf_items_shipment_default</default>
            </shipment>
            <creditmemo>
                <default>flatz_base/sales_order_pdf_items_creditmemo_default</default>
            </creditmemo>
        </pdf>
    </global>
    <frontend>
        <translate>
            <modules>
                <FLATz_Base>
                    <files>
                        <default>FLATz_Base.csv</default>
                    </files>
                </FLATz_Base>
            </modules>
        </translate>
        <layout>
            <updates>
                <flatz_base>
                    <file>flatz_base.xml</file>
                </flatz_base>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <sales_convert_order_to_quote>
                <observers>
                    <flatz_base>
                        <class>flatz_base/observer</class>
                        <method>restoreCheckoutMethod</method>
                    </flatz_base>
                </observers>
            </sales_convert_order_to_quote>
            <checkout_submit_all_after>
                <observers>
                    <flatz_base>
                        <class>flatz_base/observer</class>
                        <method>restoreAccountInfo</method>
                    </flatz_base>
                </observers>
            </checkout_submit_all_after>
        </events>
        <translate>
            <modules>
                <FLATz_Base>
                    <files>
                        <default>FLATz_Base.csv</default>
                    </files>
                </FLATz_Base>
                <Mage_Connect>
                    <files>
                        <default>Mage_Connect.csv</default>
                    </files>
                </Mage_Connect>
            </modules>
        </translate>
        <layout>
            <updates>
                <flatz_base>
                    <file>flatz_base.xml</file>
                </flatz_base>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <flatz_base_japanese translate="title" module="flatz_base">
                                            <title>Japanese Environment Setting</title>
                                        </flatz_base_japanese>
                                        <flatz_base_mail>
                                            <title>Mail Setting</title>
                                        </flatz_base_mail>
                                        <flatz_base_pdf>
                                            <title>Pdf Setting</title>
                                        </flatz_base_pdf>
                                        <flatz_base_admin>
                                            <title>Admin Setting</title>
                                        </flatz_base_admin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <system>
            <children>
                <config>
                    <children>
                        <flatz_base_japanese>
                            <title>Japanese Environment Setting</title>
                        </flatz_base_japanese>
                        <flatz_base_mail>
                            <title>Mail Setting</title>
                        </flatz_base_mail>
                        <flatz_base_pdf>
                            <title>Pdf Setting</title>
                        </flatz_base_pdf>
                        <flatz_base_admin>
                            <title>Admin Setting</title>
                        </flatz_base_admin>
                    </children>
                </config>
            </children>
        </system>
    </adminhtml>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <firstnamekana>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <required>1</required>
                    <mapped>1</mapped>
                </firstnamekana>
                <lastnamekana>
                    <billing>1</billing>
                    <shipping>1</shipping>
                    <required>1</required>
                    <mapped>1</mapped>
                </lastnamekana>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <default>
        <tax>
            <calculation>
                <round>round</round>
            </calculation>
        </tax>
        <flatz_base_japanese>
            <address>
                <enablejp>1</enablejp>
                <onlyjp>1</onlyjp>
            </address>
            <name>
                <enablejp>1</enablejp>
                <usekana>1</usekana>
                <requirekana>1</requirekana>
                <kanaformat>0</kanaformat>
            </name>
            <currency>
                <position>32</position>
            </currency>
            <additional>
                <useselectfordob>0</useselectfordob>
                <startyear>1900</startyear>
                <defaultyear>1980</defaultyear>
                <defaultgender>0</defaultgender>
                <useradioforgender>0</useradioforgender>
            </additional>
            <validator>
                <namelength>50</namelength>
                <addresslength>100</addresslength>
                <forcefullwidthaddress>0</forcefullwidthaddress>
                <validateaddresstotallength>0</validateaddresstotallength>
                <forcefullwidthname>0</forcefullwidthname>
                <forcedigitsforpost>1</forcedigitsforpost>
                <separatepostcode>0</separatepostcode>
                <postcodeseparator>-</postcodeseparator>
                <numberofpostcodeform>2</numberofpostcodeform>
                <postmaxlength>8</postmaxlength>
                <forcedigitsfortel>1</forcedigitsfortel>
                <separatetel>0</separatetel>
                <telseparator>-</telseparator>
                <numberoftelform>3</numberoftelform>
                <telmaxlength>11</telmaxlength>
            </validator>            
            <address_templates>
                <text>{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{if postcode}}{{var postcode}},{{/if}}
{{var country}}
{{if region}}{{var region}},{{/if}}
{{if city}}{{var city}},  {{/if}} 
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{depend street4}}{{var street4}}{{/depend}}
T: {{var telephone}}
{{depend fax}}F: {{var fax}}{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}{{/depend}}</text>
                <oneline>{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var postcode}}, {{var country}}, {{var region}}, {{var city}}, {{var street}}</oneline>
                <html>{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}&lt;br/&gt;
{{depend company}}{{var company}}&lt;br /&gt;{{/depend}}
{{if postcode}}{{var postcode}}{{/if}}&lt;br/&gt;
{{var country}}&lt;br/&gt;
{{if region}}{{var region}}, {{/if}}{{if city}}{{var city}}&lt;br /&gt;{{/if}}
{{if street1}}{{var street1}}&lt;br /&gt;{{/if}}
{{depend street2}}{{var street2}}&lt;br /&gt;{{/depend}}
{{depend street3}}{{var street3}}&lt;br /&gt;{{/depend}}
{{depend street4}}{{var street4}}&lt;br /&gt;{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}&lt;br/&gt;F: {{var fax}}{{/depend}}
{{depend vat_id}}&lt;br/&gt;VAT: {{var vat_id}}{{/depend}}</html>
                <pdf>{{depend prefix}}{{var prefix}} {{/depend}}{{var lastname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var firstname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}
{{if postcode}}{{var postcode}}{{/if}}|
{{var country}}|
{{if region}}{{var region}}, {{/if}}
{{if city}}{{var city}},|{{/if}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{depend telephone}}T: {{var telephone}}{{/depend}}|
{{depend fax}}&lt;br/&gt;F: {{var fax}}{{/depend}}|
{{depend vat_id}}&lt;br/&gt;VAT: {{var vat_id}}{{/depend}}|</pdf>
                <js_template>#{prefix} #{lastname} #{middlename} #{firstname} #{suffix}&lt;br/&gt;#{company}&lt;br/&gt;#{postcode}&lt;br/&gt;#{country_id}&lt;br/&gt;#{region}, #{city},&lt;br/&gt;#{street0}&lt;br/&gt;#{street1}&lt;br/&gt;#{street2}&lt;br/&gt;#{street3}&lt;br/&gt;T: #{telephone}&lt;br/&gt;F: #{fax}&lt;br/&gt;VAT: #{vat_id}</js_template>
            </address_templates>
        </flatz_base_japanese>
        <flatz_base_mail>
            <jpmail>
                <text_charset>utf-8</text_charset>
                <html_charset>utf-8</html_charset>
                <use_return_path>0</use_return_path>
                <use_reply_to>0</use_reply_to>
            </jpmail>
        </flatz_base_mail>
        <flatz_base_pdf>
            <font>
                <reguler>/usr/share/fonts/ipa-pgothic/ipagp.ttf</reguler>
                <bold>/usr/share/fonts/ipa-pmincho/ipamp.ttf</bold>
                <italic>/usr/share/fonts/ipa-pmincho/ipamp.ttf</italic>
            </font>
        </flatz_base_pdf>
        <flatz_base_admin>
            <menu>
                <use_extend>1</use_extend>
            </menu>
        </flatz_base_admin>
    </default>
</config>
