<?xml version="1.0"?>
<config>
    <modules>
        <SSTech_CancelOrder>
            <version>0.0.1</version>
        </SSTech_CancelOrder>
    </modules>
    <crontab>
        <jobs>
            <cancelorder_cron>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>cancelorder/cron::run</model>
                </run>
            </cancelorder_cron>
        </jobs>
    </crontab>
    <global>
        <models>
            <cancelorder>
                <class>SSTech_CancelOrder_Model</class>
            </cancelorder>
        </models>
        <helpers>
            <cancelorder>
                <class>SSTech_CancelOrder_Helper</class>
            </cancelorder>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <SSTech_CancelOrder>
                    <files>
                        <default>SSTech_CancelOrder.csv</default>
                    </files>
                </SSTech_CancelOrder>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cancelorder translate="title" module="cancelorder">
                                            <title>Order Monitor</title>
                                            <sort_order>0</sort_order>
                                        </cancelorder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <SSTech_CancelOrder before="Mage_Sales">SSTech_CancelOrder</SSTech_CancelOrder>
                    </modules>
                </args>
            </sales>
        </routers>
        <translate>
            <modules>
                <SSTech_CancelOrder>
                    <files>
                        <default>SSTech_CancelOrder.csv</default>
                    </files>
                </SSTech_CancelOrder>
            </modules>
        </translate>
        <layout>
            <updates>
                <cancelorder module="SSTech_CancelOrder">
                    <file>sstech_cancelorder.xml</file>
                </cancelorder>
            </updates>
        </layout>
    </frontend>
    <default>
        <cancelorder>
            <customer>
                <cancel_new>0</cancel_new>
                <cancel_pending>0</cancel_pending>
                <cancel_status></cancel_status>
            </customer>
            <cron>
                <cancel_pending>0</cancel_pending>
                <cancel_after>120</cancel_after>
                <cancel_status></cancel_status>
            </cron>
        </cancelorder>
    </default>
</config>
